@media screen and (min-width: 768px){
  .container{
    max-width: 768px;
 }
   .container.mini {
    max-width: 552px;
 } 
 /* ---------------------------------------Section Hero --------- */
 
 .hero{
    max-width: 100%;
    padding-top: 112px;
    padding-bottom: 108px;
  }
 .hero-image {
    height: 436px;
   }
.hero-title {
  
  max-width: 496px;
  margin-bottom: 40px;
  font-size: 56px;
  line-height: 1.07;
}

  /* ------------------------------------------------------------ */
 .list-item {
  text-align: left;
 }
.text-item{
  width: calc((100% - 24px) / 2);
}
.feature-list{
  row-gap: 72px;
  column-gap: 24px;
}
.team-list {
  column-gap: 24px;
  row-gap: 64px;
}
.section.team {
  padding-bottom: 104px;
}
/*---------------------------------------- Section Customers ------ */
.customers-list {
  column-gap: 24px;
}
.customers-item {
  width: calc((100% - 2 * 24px) / 3);
}
}

